<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio website</title>
    <!-- <link rel="stylesheet" href="static/index.css">
    <script src="static/index.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{url_for('static', filename='index.js')}}"></script>

</head>
<body>

    <nav style="position: fixed;" id="nav-bar">
        <a href="#home" id="nav-home" onclick="setActive(id)">Home</a>
        <a href="#projects" id="nav-projects" onclick="setActive(id)">Projects</a>
        <a href="#about" id="nav-about" onclick="setActive(id)">About</a>
        <a href="resume.docx" download="Dartagnan's Resume" id="nav-resume" onclick="setActive(id)">Resume</a> 
        <a href="#contact" id="nav-contact" onclick="setActive(id)">Contact</a>
    </nav>

    <div id="sidebar">
        <div class="toggle" onclick="showMobileNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="#home" id="nav-home" onclick="setActive(id)">Home</a>
        <a href="#projects" id="nav-projects" onclick="setActive(id)">Projects</a>
        <a href="#about" id="nav-about" onclick="setActive(id)">About</a>
        <a href="resume.docx" download="Dartagnan's Resume" id="nav-resume" onclick="setActive(id)">Resume</a> 
        <a href="#contact" id="nav-contact" onclick="setActive(id)">Contact</a>

    </div>

    <div id="home">
        <div class="title">
            <br>
            <br>
            <h1>
                <pre>
Hello, My name is Dartagnan Sams.
Im a full stack web developer.</pre>
            </h1>
            <a href="#projects">View my work <img src="static/images/right.png" alt="" id="img_button"></a>
        </div>
    </div>
    
    <div id="projects">
        <br>
        <br>
        <div id="current-project">
            <button id="start" onclick="expand(id)"><img src="static/images/down.png" alt="" id="img_button"> Current Project <img src="static/images/down.png" alt="" id="img_button"></button>
        </div>
        <div id="project-list-container">
            <ul id="list">
            </ul> 
        </div>
            
    </div>

    <div id="about">
        <br>
        <br>
        <h2>About</h2>
        <div class='socials-block'>
            <div class="socials">
                <div ><a href="https://www.instagram.com/darts_projects/" target="_blank"><img src="static/images/instagram-glyph-1.svg" alt="instagram"></a></div>
                <div ><a href="#" target="_blank"><img src="static/images/indeed-logo2.svg" alt="indeed"></a></div>
                <div ><a href="https://www.reddit.com/" target="_blank"><img src="static/images/reddit-1.5.svg" alt="reddit"></a></div>
                <div ><a href="https://github.com/DartSams" target="_blank"><img src="static/images/github-icon.svg" alt="github"></a></div>
            </div>
            <p>
Welcome to my portfolio website.I'm a passionate full stack web 
developer in Augusta, Ga constantly growing and expanding 
my knowledge.</p>
        </div>

        <aside>
            <div class="sub-title"><h4>Technologies</h4></div>
            <div class="tech-logos">
                <div><img src="static/images/python logo2.png" alt=""></div>
                <div><img src="static/images/html logo2.png" alt=""></div>
                <div><img src="static/images/js logo.png" alt=""></div>
                <div><img src="static/images/mysql logo.png" alt=""></div>
            </div>
        </aside>
    </div>

    <div id="contact">
        <h2>Contact</h2>
        <h4>Have a question or want to work together?</h4>
        <div class="contact-form">
            <input type="text" placeholder="Name" id="name">
            <input type="text" placeholder="Email" id="email">
            <textarea name="contact-message" id="contact-message"  cols="10" rows="10" placeholder="Your message..."></textarea>
            <a type="submit" onclick="sendInfo()">Submit</a>
        </div>

        <div id="popup-container">
            <div class="popup">
                <div class="popup-header"><button onclick="closePopup()">X</button></div>
                <div class="popup-body"><h3>Your email has been successfully sent.</h3></div>
                <div class="popup-footer">
                    <button id="close" onclick="closePopup()">
                        OK
                    </button>
                </div>
            </div>
        </div>
        
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();

        function sendInfo() {
            let name = document.getElementById("name").value
            let email = document.getElementById("email").value
            let message = document.getElementById("contact-message").value
            socket.emit("contact",{name:name,email:email,message:message})

            document.getElementById("name").value = ""
            document.getElementById("email").value = ""
            document.getElementById("contact-message").value = ""
            openPopup()
        }

        socket.on("contact" ,function(msg){
            console.log(msg)
        }) 


        const projects_names = [
            "twitter clone","flask rest crud","Discord Server Bot",
            "mysql","blackjack","space invaders","speed typing",
            "tictactoe"
        ]

        const projects = {
            "twitter clone":{"name":"Twitter Clone",
                        "image":"twitter clone preview.PNG",
                        "link":"Twitter-clone",
                        "tags":"python,flask,session,js,html,css,mysql"
                        },
            "flask rest crud":{"name":"Flask Rest Crud",
                        "image":"flask rest crud preview.PNG",
                        "link":"Flask-login-app",
                        "tags":"python,flask,flask-session,mysql,js,html,css"
                        },
            "Discord Server Bot":{"name":"Discord-bot",
                        "image":"Discord-Server-Banner.jpg",
                        "link":"discord-bot",
                        "tags":"python,tkinter,mysql,discord api"
                        },
            "mysql":{"name":"Mysql Database gui",
                        "image":"mysql preview.png",
                        "link":"database-gui-",
                        "tags":"python,tkinter,mysql"
                        },
            "blackjack":{"name":"Blackjack",
                        "image":"blackjack preview.PNG",
                        "link":"blackjack",
                        "tags":"python,tkinter,mysql"
                        },
                        "rpg":{"name":"Random Person Generator",
                        "image":"rpg preview.PNG",
                        "link":"Random-Person-Generator",
                        "tags":"python,tkinter,json"
                    },
            "space invaders":{"name":"Space Invaders",
                        "image":"space invaders preview.PNG",
                        "link":"Space_Invader",
                        "tags":"python,pygame"
                    },
            "speed typing":{"name":"Speed Typing Tester",
                        "image":"speed typing preview.PNG",
                        "link":"speed-typing-tester",
                        "tags":"python,pygame"
                    },
            "tictactoe":{"name":"Tic-Tac-Toe",
                        "image":"tictactoe preview.PNG",
                        "link":"tic-tac-toe",
                        "tags":"python,pygame"
                    },
        }
        
        var startNum = 0;
        let num = 4;
        let projectLimiter = 4;

        let ul = document.getElementById("list")
        function showProjects(id){

            // document.getElementsByTagName("li").innerHTML = ""
            let button = document.getElementById(id);


            if (button !== null) {
                let splitButton = id.split(":");
                let status = splitButton[0];
                let value = splitButton[1];

                // console.log(status,value)
                if (status === "up") {
                    startNum+=parseInt(4)
                    projectLimiter+=4
                    button.setAttribute("id",`up:${startNum}`)
                    // removeElements()
                    ul.innerHTML = ""

                } else if (status === "down") {
                    startNum-=parseInt(4)
                    projectLimiter-=4
                    button.setAttribute("id",`down:${startNum}`)
                    ul.innerHTML = ""
                } else {
                    let startNum = 0
                }
            } 
            // console.log("starting at: ",startNum)
            let slicedProjectsArray = projects_names.slice(startNum,projectLimiter)
            // console.log(slicedProjectsArray)
            for (let i = 0;i<slicedProjectsArray.length;i+=1) {
                let projectJson = projects[slicedProjectsArray[i]]
                let cardDiv = document.createElement("div");
                cardDiv.setAttribute("class","card-div");
                let li = document.createElement("li");
                li.setAttribute("id","list-item")
                let img = document.createElement("img");
                img.src = 'static/images/project_preview/' + projectJson['image']
                li.appendChild(img);
                let title = document.createElement("h3");
                title.innerHTML = slicedProjectsArray[i]
                li.appendChild(title)
                let projectDescription = document.createElement("p");
                projectDescription.innerHTML = "Future description create table later";
                li.appendChild(projectDescription)
                let breaker = document.createElement("hr");
                breaker.setAttribute("width","190px")
                li.appendChild(breaker);
                let cardDivButtons = document.createElement("div");
                cardDivButtons.setAttribute("class","card-div-buttons")
                let githubLink = document.createElement("a");
                githubLink.setAttribute("href","http://github.com/DartSams/" +projectJson['link'])
                githubLink.setAttribute("target","__blank")
                githubLink.setAttribute("class","github-link")
                githubLink.innerHTML = "Github";
                cardDivButtons.appendChild(githubLink)
                let liveProjectLink = document.createElement("a");
                liveProjectLink.setAttribute("href","http://github.com/DartSams/" +projectJson['link'])
                liveProjectLink.setAttribute("target","__blank")
                liveProjectLink.setAttribute("class","live-link")
                liveProjectLink.innerHTML = "Live";
                cardDivButtons.appendChild(liveProjectLink)
                let breaker2 = document.createElement("hr");
                breaker2.setAttribute("width","190px")
                cardDivButtons.appendChild(breaker2);
                let projectTagsDiv = document.createElement("div");
                projectTagsDiv.setAttribute("class","project-tags")

                let tags = projectJson['tags'].split(",");
                // console.log(tags)
                
                for (j = 0;j<tags.length;j++) {
                    let projectTags = document.createElement("p")
                    if (tags[j] === undefined) {
                        // 
                    } else {
                        projectTags.innerHTML = tags[j]                    }
                    // console.log(tags[j])

                    projectTagsDiv.appendChild(projectTags)
                }
                li.appendChild(cardDivButtons)
                li.appendChild(projectTagsDiv)


                cardDiv.appendChild(li)
                ul.appendChild(cardDiv)
            }

            let first = ul.firstElementChild
            // console.log(first)
            let left = document.createElement("img");
            left.src = "static/images/left.png"
            left.style.width="50px"
            left.style.height="50px"
            left.setAttribute('onclick','showProjects(id)')
            left.setAttribute("id","down:0")
            left.setAttribute("class","project-left")
            first.before(left)

            let right = document.createElement("img");
            right.src = "static/images/right.png"
            right.style.width="50px"
            right.style.height="50px"
            right.setAttribute('onclick','showProjects(id)')
            right.setAttribute("id","up:0")
            right.setAttribute("class","project-right")
            let end = document.getElementById("project-list-container")
            ul.appendChild(right)

        }
        window.onload = showProjects("default:0")
    </script>
</body>
</html>